body {
    background-color: rgb(72, 67, 95);
}
.container {
    display: flex;
    flex-direction: column;
    width: 85%;
    margin: 0 auto;
    background-color: rgb(170, 91, 91);
}
.container__textarea {
    width: 99%;
    height: 200px;
    margin: 0 auto;
    background-color: #ffffff;
}
.container__keyboard {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    width: 100%;
    height: 300px;
    margin-top: 20px;
    background-color: rgba(226, 226, 222, 0.842);

    font-size: 18px;
    text-transform: lowercase;

}
.container__keyboard_row {
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 98%;
    height: 3em;
    margin: 0 auto;
}
.container__keyboard_btn {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    width: 43px;
    height: 43px;
    background-color: antiquewhite;
    border: 1px solid #faf9f7;
    border-radius: 3px;
    cursor: pointer;
    color: #000000;
}
.container__keyboard_row:first-child .container__keyboard_btn {
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}
.container__keyboard_btn p {
    margin: 0 3px;
    width: 100%;
}
.container__keyboard_btn p:first-child {
    z-index: 1;
    position: absolute;
    top: 3px;
    font-size: 12px;
    align-self: flex-start;
}
.container__keyboard_btn p:last-child {
    z-index: 100;
    text-align: center;
    height: 100%;
    padding-top: 15px;
}
.container__keyboard_btn:hover {
    background-color: rgb(247, 212, 199) !important;
}
.container__keyboard_btn-bs {
    width: 100px;
    text-transform: lowercase !important;
}
.container__keyboard_btn-tab {
    width: 70px;
    text-transform: lowercase !important;
}
.container__keyboard_btn-shift {
    width: 120px;
    text-transform: lowercase !important;
}
.container__keyboard_btn-ctrl {
    width: 6%;
    text-transform: lowercase !important;
}
.container__keyboard_btn-alt {
    width: 8%;
    text-transform: lowercase !important;
}
.container__keyboard_btn-space {
    width: 40%;
}