body {
    background: rgb(199,187,230);
    background: linear-gradient(90deg, rgba(199,187,230,1) 0%, rgba(111,111,196,1) 49%, rgba(128,219,238,1) 100%);}
.container {
    display: flex;
    flex-direction: column;
    width: 80%;
    margin: 0 auto;
    padding-top: 40px;

    font-family: 'Montserrat', sans-serif;
}
.container__textarea {
    width: 96%;
    height: 160px;
    margin: 0 auto;
    padding: 15px;
    border-radius: 3px;
    border: 5px solid rgba(230, 185, 174, 0.842);
    background-color: #ffffff;
    font-family: 'Montserrat', sans-serif;
    font-size: 20px;
}
.container__keyboard {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    width: 100%;
    height: 300px;
    margin-top: 10px;
    background-color: rgba(247, 200, 187, 0.842);
    border-radius: 3px;

    font-size: 18px;
    text-transform: lowercase;
}
.container__keyboard_row {
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 98%;
    height: 3em;
    margin: 0 auto;
}
.container__keyboard_btn {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    width: 43px;
    height: 43px;
    background-color: antiquewhite;
    border: 1px solid #faf9f7;
    border-radius: 3px;
    box-shadow: 0px 0px 2px 1px rgba(66, 59, 55, 0.75);
    cursor: pointer;
    color: #000000;
}
.container__keyboard_row:first-child .container__keyboard_btn {
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}
.container__keyboard_btn p {
    margin: 0 3px;
    width: 100%;
}
.container__keyboard_btn p:first-child {
    z-index: 1;
    position: absolute;
    top: 3px;
    font-size: 12px;
    align-self: flex-start;
}
.container__keyboard_btn p:last-child {
    z-index: 100;
    text-align: center;
    height: 100%;
    padding-top: 15px;
}
.container__keyboard_btn-bs p:last-child {
    padding-top: 0;
}
.container__keyboard_btn:hover {
    
    box-shadow: inset 0px 0px 2px 1px rgba(71, 65, 62, 0.795);
    border: 1px solid rgba(230, 230, 230, 0.75);

}
.container__keyboard_btn:active {
    background-color: #ffffff !important;
}
.container__keyboard_btn-bs {
    width: 100px;
    text-transform: lowercase !important;
}
.container__keyboard_btn-tab {
    width: 70px;
    text-transform: lowercase !important;
}
.container__keyboard_btn-shift {
    width: 120px;
    text-transform: lowercase !important;
}
.container__keyboard_btn-ctrl {
    width: 6%;
    text-transform: lowercase !important;
}
.container__keyboard_btn-alt {
    width: 8%;
    text-transform: lowercase !important;
}
.container__keyboard_btn-space {
    width: 40%;
}